@font-face {
  font-family: "GowunBatang-Regular";
  font-weight: bold;
  src: url("./fonts/GowunBatang-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GoldenPlains-Demo";
  font-weight: normal;
  src: url("./fonts/GoldenPlains-Demo.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "GowunBatang-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
